progfun/.idea/
progfun/project/project/
progfun/project/target/
progfun/target/

assignements/example/.idea/
assignements/example/project/project/
assignements/example/project/target/
assignements/example/target/

assignements/funsets/.idea/
assignements/funsets/project/project/
assignements/funsets/project/target/
assignements/funsets/target/

assignements/recfun/.idea/
assignements/recfun/project/project/
assignements/recfun/project/target/
assignements/recfun/target/

assignements/objsets/.idea/
assignements/objsets/project/project/
assignements/objsets/project/target/
assignements/objsets/target/

.DS_Store