progfun/.idea/
progfun/project/project/
progfun/project/target/
progfun/target/

progfun2/.idea/
progfun2/project/project/
progfun2/project/target/
progfun2/target/

parprog1/.idea/
parprog1/project/project/
parprog1/project/target/
parprog1/target/

assignements/example/.idea/
assignements/example/project/project/
assignements/example/project/target/
assignements/example/target/

assignements/funsets/.idea/
assignements/funsets/project/project/
assignements/funsets/project/target/
assignements/funsets/target/

assignements/recfun/.idea/
assignements/recfun/project/project/
assignements/recfun/project/target/
assignements/recfun/target/

assignements/objsets/.idea/
assignements/objsets/project/project/
assignements/objsets/project/target/
assignements/objsets/target/

assignements/patmat/.idea/
assignements/patmat/project/project/
assignements/patmat/project/target/
assignements/patmat/target/

assignements/forcomp/.idea/
assignements/forcomp/project/project/
assignements/forcomp/project/target/
assignements/forcomp/target/

assignements/streams/.idea/
assignements/streams/project/project/
assignements/streams/project/target/
assignements/streams/target/

assignements/quickcheck/.idea/
assignements/quickcheck/project/project/
assignements/quickcheck/project/target/
assignements/quickcheck/target/

assignements/calculator/.idea/
assignements/calculator/project/project/
assignements/calculator/project/target/
assignements/calculator/target/

assignements/scalashop/.idea/
assignements/scalashop/project/project/
assignements/scalashop/project/target/
assignements/scalashop/target/

assignements/reductions/.idea/
assignements/reductions/project/project/
assignements/reductions/project/target/
assignements/reductions/target/

assignements/kmeans/.idea/
assignements/kmeans/project/project/
assignements/kmeans/project/target/
assignements/kmeans/target/

assignements/barneshut/.idea/
assignements/barneshut/project/project/
assignements/barneshut/project/target/
assignements/barneshut/target/


.DS_Store