progfun/.idea/
progfun/project/project/
progfun/project/target/
progfun/target/
assignements/objsets/.idea/
assignements/objsets/project/project/
assignements/objsets/project/target/
assignements/objsets/target/
.DS_Store